<h2 mat-dialog-title>{{data.name | titlecase }} #{{data.id}}</h2>
<mat-dialog-content class="mat-typography container">
  <!--  <ng-container *ngIf="!!ability.effect_entries ">-->

  <div class="about-block">
    <div class="about-id-block">
      <h2>No. {{data.id}}</h2>
    </div>
    <div class="about-name-block">
      <h1>{{data.name | titlecase}}</h1>
    </div>
    <div class="about-type-block" >
      <div *ngFor="let types of data.types">
        <h1>{{types.type.name}}</h1>
      </div>
    </div>
    <div class="about-description-block">
      {{effectEntries[0]}}
    </div>
  </div>


  <!--  </ng-container>-->
  <div class="image-block">
    <img [src]="data.sprites.other.home.front_default" alt="image pokemon"/>
  </div>
  <div class="parameters-block">
    <p>Height:  {{data.height}}"</p>
    <p>Weight: {{data.weight}} lb</p>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Close</button>
</mat-dialog-actions>
