.container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  //background-color: #1a528a;;
  background: rgb(34, 193, 195);
  background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(45, 98, 253, 1) 100%);
}

.about-block {
  align-items: center;
  width: 35%;
  height: 100%;

}

.image-block {
  width: 55%;
  height: 100%;
}

img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.parameters-block {
  width: 15%;
  border-radius: 4%;
}

::ng-deep .modalContainer {
  mat-dialog-container {
    border-radius: 5%;
  }
}

.about-type-block span {
  background-color: #1e3abf;
  border-radius: 10%;
  font-size: x-large;
}

.about-type-block {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
