.container {
  display: flex;
  justify-content: space-evenly;
  width: 50vw;
  height: 50vh;
}

.image-block {
  background-color: gray;
  align-items: center;
  width: 45%;
  height: 100%;
  border-radius: 4%;

}

.parameters-block {
  background-color:cadetblue;
  width: 45%;
  border-radius: 4%;
}
 img{
   display: block;
   width: 100%;

 }
